@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.remise {
    margin-left: 37%;
  }
  .x  {
      margin-left: 60%;
  }
  
  .input-search {
      width: 50%;
      margin-right: 10%;
    }
  
    .search-icon { 
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      color: #6c757d;
      cursor: pointer;
    }



.container-form{
    width: 400px;
    color: #000;
    padding: 30px 40px;
    border-radius: 15px;
    background: #F0F0F0;
    margin-left: 34%;
    margin-top: 3%;
}

.input-box{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #000;
    border: 2px solid #000;
    font-size: 16px;
    padding: 10px;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.remember{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -10px 0 15px;
}

.remember a{
    border-bottom: 2px solid transparent;
    color: #000;
}

.remember a:hover{
    color: #000dff;
}

.btn-login{
    width: 100%;
    height: 40px;
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 20px #000;
    font-size: 15px;
    font-weight: 600;
    transition: 1s;
    margin-top: 20px;
}

.btn-login:hover{
    background: transparent;
    color: #000;
    transform: scale(1.1);
    box-shadow: 0 0 20px #6c757d;
}

.register{
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
}

.register p a{
    font-weight: 600;
    color: #000;
    font-size: 18px;
}

.register p a:hover{
    color: #000dff;
}
footer {
    background: #F0F0F0;
    padding: 10px;
    position: relative;
    bottom: -60px;
}

@media (max-width:576px) {

  .input-search {
    width: 90%;
  }
  

  
  }