@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
       overflow-x: hidden;
       
}

section {
    padding: 60px 0;
  }

.remise {
    margin-left: 33%;
}
.x  {
    margin-left: 60%;
}

.input-search {
    width: 50%;
    margin-right: 10%;
  }

  .search-icon { 
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
    cursor: pointer;
  }

  .form-control {
    padding-left: 40px; 
  }
  .icon {
    font-size: 30px;
  }

  .brand {
    padding-top: 3rem;
  }
  .brand-logo {
    margin-bottom: 35px;
  }

  .container h1 {
    font-size: 3rem;
    line-height: 1.2;
  }
  
  .container p {
    color: #555;
  }
  
  .container .btn-dark {
    padding: 10px 30px;
    
  }
  
  .container .row {
    margin-top: 40px;
  }
  
  .container .row.text-center h3 {
    margin-bottom: 10px;
  }
  
  .container .row.text-center p {
    color: #777;
  }

  .all-quantity {
    margin-right: 50%;
  }


.title-arrivals {
    text-align: center;
    font-size: 3rem; 
}

.cards {
    
   gap: .5rem;
    padding: 2rem; 
    cursor: pointer ;
}

.card {
    border-radius: 2rem !important;
    width: 20rem; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    overflow: hidden; 
}

.card-img-top {
    border-radius: 2rem !important;
    height: 20rem; 
    object-fit: cover; 
    
}

.card:hover {
    transform: scale(1.05); 
}

.card-body {
    padding: 1rem;
}



.rate {
    margin-left: 1rem;
}

.price {
    font-size: 1.5rem; 
    font-weight: 700;
}

.sold {
    display: flex;
    align-items: center;
}

.sold .old-price {
    font-size: 1.5rem; 
    font-weight: 700;
    margin-left: 1rem;
    opacity: .4;
    text-decoration: line-through !important;
}

.sold .percentage {
    background: #F0EEED;
    border-radius: 2rem;
    padding: 0.2rem 0.5rem;
    color: #FF3333;
    margin-left: 1rem;
}

.btn-view {
   width: fit-content;
   margin: 3% auto 0 auto;
   border: .1rem solid rgba(0, 0, 0, 0.63);
   border-radius: 2.5rem;
   padding: 1rem 5rem;
   font-weight: 400;
   transition: background-color 0.3s ease;
}

.btn-view:hover {
   background-color: #f0f0f0;
}



.dress-style {
    background: #F0F0F0;
  padding: 2rem ;
}
.browse-style {
  margin-left: 6rem;
}
.style-hover {
    cursor: pointer;
    transition: transform 0.3s ease;
    
}.feedback-swiper {
  position: relative;
  height: 100%;
}
.swiper-button-next, .swiper-button-prev {
  transform: translateY(-50%);
  color: #000;
}
.style-hover:hover {
    transform: scale(1.05); 
}

footer {
    background: #F0F0F0;
    padding: 10px;
    position: relative;
    bottom: -60px;
}




@media (max-width:576px) {
  .title-browse {
    font-size: 1.2rem;
  }
  .dress-style {
   padding:0;
  }

.style-hover {

  margin-left: -4rem;
}
    .slide {
        margin-left: 75px;
    }
    .all-quantity {
      margin-left: 47%;
    }
   .dress-style {
    padding-left: 7%;
   }
.input-search {
  width: 90%;
}
.feedback {
  margin-left: -45px;
}
.latest {
  display: none;
}
.tshirt {
  margin-left: -35px;
}
}
















  
  

  
